<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= manifest?.name || 'Letterboxd Stremio Addon' %></title>
  <link rel="shortcut icon" href="<%= manifest?.logo || 'https://www.stremio.com/website/stremio-logo-small.png' %>" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
</head>

<body>
  <%- include('./critical_styles'); %>
  <div id="addon">
    <% if (manifest) { %>
    <div class="logo">
			<img src="<%= manifest?.logo %>">
		</div>
    <% } %>
    <h1 class="name"><%= manifest?.name || 'Letterboxd Stremio Addon' %></h1>
    <% if (manifest) { %>
    <h2 class="version"><%= manifest.version %></h2>
    <h2 class="description"><%= manifest.description %></h2>
    <% } %>
    <div class="separator"></div>
    <div>
      <%- include('./content'); %>
    </div>

    <br>
  </div>

</body>

</html>