<div>
  <% if (logged_in) { %>
    <h3>Signed in as <%= user %>
    </h3>
    <div class="separator"></div>
    <label class="label-to-top" for="manifest_url">Your manifest URL:
      <input class="full-width form-element" id="manifest_url" type="text"
        value="<%= `https://${base_url}/${config}/manifest.json` %>" readonly>
    </label>
    <div>
      <button class="full-width" onclick="{navigator.clipboard.writeText(getElementById('manifest_url').value).then((e)=>{
          console.log('copied!');event.target.innerText='Copied!';setTimeout(function(){
            this.innerText='Copy result to clipboard'
        ;}.bind(event.target), 3000);}).catch((error)=>{console.error(error);})}">
        Copy Manifest URL
      </button>

      <button class="full-width" onclick="location.href='<%= `stremio://${base_url}/${config}/manifest.json` %>'">
        Open In Stremio
      </button>

      <div>
        <button class="full-width" onclick="location.href='<%= `https://${base_url}/refresh` %>'">
          Refresh MyAnimeList Session
        </button>
      </div>

      <div>
        <button class="full-width" onclick="location.href='<%= `https://${base_url}/logout` %>'">
          Logout
        </button>
      </div>
    </div>
    <% } else { %>
      <h2>Log in to Letterboxd to configure your addon!</h2>
      <div class="separator"></div>
      <div>
        <button onclick="location.href='<%= `https://${base_url}/auth` %>'">
          Sign in with Letterboxd
        </button>
      </div>
      <% } %>
</div>